*
{
    margin: 0em;
    padding: 0em;
}
body
{
    background: url(images/fond.jpg) repeat fixed;
    font-family: 'Times New Roman', Times, serif;

}

#bloc-page
{
    width: auto;
    margin: auto;
}

/**header**/

header 
{

    border: 1px solid black;
    border-radius: 15px;
    
    box-shadow: 6px 6px 10px black;
    margin-top: 2ch;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-bottom: 60px;


    
}

 h1
{
    font-size: xx-large;
    font-style: italic;

}

nav ul
{
    list-style: none;
    display: flex;
    justify-content: center;
     

}

nav a
{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

nav li 
{
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 4px 2px 10px black;
    margin:15px;
    padding: 10px;
    
}

#conteneur
{
   
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: space-around;
   
}

.picture img
{
    display: flex;
    width: 400px;
    height: 400px;
    border-radius: 25px
    ;
    
}

footer
{
    background-color:rgba(119,163,69, 0.5);
    border: 1px solid black;
    margin-top: 3em;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;


}

